.container {
  max-width: 1400px;
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 60px;
  padding: 0 0 10px 0px;
}

.descriptionTvlBox {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.descriptionBox {
  text-align: left;
  gap: 0.25rem;
  flex-direction: column;
  display: flex;
}

.tvlBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 178px;
}

.tvlText {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.167;
}

.title {
  font-size: 20px !important;
  margin-bottom: 24px !important;
}

.tableContainer {
  border: 1px solid rgba(104, 108, 122, 0.25);
  margin: 0 auto;
}

.assetTableRow {
  cursor: pointer !important;
}

@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 40px);
    margin: auto;
    padding: 0 0 10px 0px;
    margin-bottom: 20px;
  }
}
