@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

/*FIXME*/
input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("/calendar.svg") no-repeat;
  background-size: contain;
  display: block;
  border-width: thin;
  position: absolute;
  left: -88px;
  z-index: 9;
}

button {
  text-transform: none !important;
}
