@import "./Sono.css";
@import "./Monument.css";
@import "./Druk.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: rgba(255, 255, 255, 0.87);
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

/*FIXME*/
input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("/calendar.svg") no-repeat;
  background-size: contain;
  display: block;
  border-width: thin;
  position: absolute;
  left: -88px;
  z-index: 9;
}

button {
  text-transform: none !important;
}

* {
  --radix-tooltip-content-available-width: 248px !important;
}
